#pane {
    -fx-background-color: #060606;
}
#rectangle {
    -fx-fill: #0f0f0f;
    -fx-text-fill: white;
}

#rectangle-1 {
    -fx-fill: #171717;
    -fx-text-fill: white;
}

#rectangle-2 {
    -fx-fill: #0f0f0f;
    -fx-text-fill: white;
}

#rectangle-3 {
    -fx-fill: #272727;
    -fx-text-fill: white;
}

#download-modpack, #download-modpack-a, #view-modpack-a, #view-modpack, #Launch-VM, #Update-VM {
    -fx-background-color: #393939;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#download-modpack:hover, #download-modpack-a:hover, #view-modpack-a:hover, #view-modpack:hover, #Launch-VM:hover, #Update-VM:hover {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0em;
    -fx-text-fill: #000000;
}

#default-theme,#dark-theme, #light-theme {
    -fx-background-color: #252525;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#default-theme:hover {
    -fx-background-color: #0d0c39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#dark-theme:hover {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#light-theme:hover {
    -fx-background-color: #bcbcbc;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#lable {
    -fx-text-fill: white;
}

#login {
    -fx-text-fill: #950c14;
}

#login:hover {
    -fx-text-fill: #ffffff;
}

#minecraft-login-btn {
    -fx-background-color: #393939;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#minecraft-login-btn:hover {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#Modpack-back, #home-back, #Settings-back, #instance-back {
    -fx-fill: #1d1d1d;
    -fx-text-fill: white;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
    -fx-text-fill: white;
}
#min:hover, #exit:hover{
    -fx-background-color: #8d0000;
    -fx-text-fill: white;
}
#search-modpacks {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: #1d1d1d;
    -fx-padding: 5px;
}

#search-modpacks:hover, #search-modpacks:focused {
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}

#Home-btn, #Modpacks-btn, #Instance-btn, #Settings-btn {
    -fx-text-fill: white;
}
#version {
    -fx-text-fill: white;
}

#Settings-Gen-btn, #Settings-Mine-btn {
    -fx-text-fill: white;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0em;
}

.tab:hover{
    -fx-background-color: #0d0d0d;

}

.selected {
    -fx-background-color: #060606;
    -fx-background-radius: 0em;
}

.selected:hover {
    -fx-background-color: #060606;
}
#minecraftuser, #minecraftpass{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
#minecraftuser:hover, #minecraftpass:hover, #minecraftuser:focused, #minecraftpass:focused{
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}