#pane {
    -fx-background-color: #050317;
}
#rectangle {
    -fx-fill: #050517;
    -fx-text-fill: white;
}

#rectangle-1 {
    -fx-fill: #080920;
    -fx-text-fill: white;
}

#rectangle-2 {
    -fx-fill: #050517;
    -fx-text-fill: white;
}

#rectangle-3 {
    -fx-fill: #100839;
    -fx-text-fill: white;
}

#download-modpack, #view-modpack {
    -fx-background-color: #1b1d4d;
    -fx-background-radius: 0em;
    -fx-padding: 5px;
    -fx-text-fill: white;
}

#default-theme,#dark-theme, #light-theme {
    -fx-background-color: #181a39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#default-theme:hover {
    -fx-background-color: #0d0c39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#dark-theme:hover {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#light-theme:hover {
    -fx-background-color: #bcbcbc;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#lable {
    -fx-text-fill: white;
}

#Modpack-back {
    -fx-fill: #0a0e2e;
    -fx-text-fill: white;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
    -fx-text-fill: white;
}
#min:hover, #exit:hover{
    -fx-background-color: #8d0000;
    -fx-text-fill: white;
}
#search-modpacks {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: #0a0e2e;
    -fx-padding: 10px;
}

#Home-btn, #Modpacks-btn, #Instance-btn, #Settings-btn {
    -fx-text-fill: white;
}
#version {
    -fx-text-fill: white;
}

#Settings-Gen-btn, #Settings-Mine-btn {
    -fx-text-fill: white;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0em;
}

.tab:hover{
    -fx-background-color: #0c182d;

}

.selected {
    -fx-background-color: #0c182d;
    -fx-background-radius: 0em;
}

.selected:hover {
    -fx-background-color: #0c182d;
}