#pane {
    -fx-background-color: #050317;
}
#rectangle {
    -fx-fill: #050517;
}

#rectangle-1 {
    -fx-fill: #080920;
}

#rectangle-2 {
    -fx-fill: #0d0d39;
}

#default-theme,#dark-theme, #light-theme {
    -fx-background-color: #181a39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#default-theme:hover {
    -fx-background-color: #0d0c39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#dark-theme:hover {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#light-theme:hover {
    -fx-background-color: #bcbcbc;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#Modpack-back {
    -fx-fill: #0a0e2e;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
}
#min:hover, #exit:hover{
    -fx-background-color: #bf0000;
}
#search-modpacks {
    -fx-text-inner-color: white;
    -fx-background-color: rgba(0, 0, 0, 0.17);
    -fx-padding: 10px;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0em;
}

.tab:hover{
    -fx-background-color: #0c182d;

}

.selected {
    -fx-background-color: #0c182d;
    -fx-background-radius: 0em;
}

.selected:hover {
    -fx-background-color: #0c182d;
}