#pane {
    -fx-background-color: #ffffff;
}
#rectangle {
    -fx-fill: #cccccc;
    -fx-text-fill: black;
}

#rectangle-1 {
    -fx-fill: #8c8c8c;
    -fx-text-fill: black;
}

#rectangle-2 {
    -fx-fill: #e5e5e5;
    -fx-text-fill: black;
}

#rectangle-3 {
    -fx-fill: #cdcdcd;
    -fx-text-fill: black;
}

#download-modpack, #download-modpack-a, #view-modpack-a, #view-modpack, #Launch-VM, #Update-VM {
    -fx-background-color: #b8b8b8;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#download-modpack:hover, #download-modpack-a:hover, #view-modpack-a:hover, #view-modpack:hover, #Launch-VM:hover, #Update-VM:hover {
    -fx-background-color: #000000;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#default-theme,#dark-theme, #light-theme {
    -fx-background-color: #979797;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#default-theme:hover {
    -fx-background-color: #0d0c39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#dark-theme:hover {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#light-theme:hover {
    -fx-background-color: #bcbcbc;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#lable, #RAM-Default, #RAM-slider {
    -fx-text-fill: black;
}

#login {
    -fx-text-fill: #950c14;
}

#login:hover {
    -fx-text-fill: black;
}

#minecraft-login-btn {
    -fx-background-color: #b8b8b8;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#minecraft-login-btn:hover {
    -fx-background-color: #000000;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#Modpack-back, #home-back, #Settings-back, #instance-back {
    -fx-fill: #c3c3c3;
    -fx-text-fill: black;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
    -fx-text-fill: black;
}
#min:hover, #exit:hover{
    -fx-background-color: #8d0000;
    -fx-text-fill: white;
}
#search-modpacks {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: #c3c3c3;
    -fx-padding: 5px;
}

#search-modpacks:hover, #search-modpacks:focused {
    -fx-border-style: solid;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 2px 0px;
}

#Home-btn, #Modpacks-btn, #Instance-btn, #Settings-btn {
    -fx-text-fill: black;
}
#version {
    -fx-text-fill: black;
}

#Settings-Gen-btn, #Settings-Mine-btn {
    -fx-text-fill: black;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0em;
}

.tab:hover{
    -fx-background-color: #c4c4c4;

}

.selected {
    -fx-background-color: #ffffff;
    -fx-background-radius: 0em;
}

.selected:hover {
    -fx-background-color: #fff;
}

#minecraftuser, #minecraftpass{
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 5px;
}
#minecraftuser:hover, #minecraftpass:hover, #minecraftuser:focused, #minecraftpass:focused{
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 2px 0px;
}