#pane {
    -fx-background-color: #ffffff;
}
#rectangle {
    -fx-fill: #7d7d7d;
    -fx-text-fill: black;
}

#rectangle-1 {
    -fx-fill: #8e8e8e;
    -fx-text-fill: black;
}

#rectangle-2 {
    -fx-fill: #7d7d7d;
    -fx-text-fill: black;
}

#rectangle-3 {
    -fx-fill: #979797;
    -fx-text-fill: black;
}

#default-theme,#dark-theme, #light-theme {
    -fx-background-color: #7d7d7d;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#default-theme:hover {
    -fx-background-color: #0d0c39;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#dark-theme:hover {
    -fx-background-color: #1c1c1c;
    -fx-background-radius: 0em;
    -fx-text-fill: white;
}

#light-theme:hover {
    -fx-background-color: #bcbcbc;
    -fx-background-radius: 0em;
    -fx-text-fill: black;
}

#lable {
    -fx-text-fill: black;
}

#Modpack-back {
    -fx-fill: #9b9b9b;
    -fx-text-fill: black;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
    -fx-text-fill: black;
}
#min:hover, #exit:hover{
    -fx-background-color: #8d0000;
    -fx-text-fill: white;
}
#search-modpacks {
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: #9b9b9b;
    -fx-padding: 10px;
}

#Home-btn, #Modpacks-btn, #Instance-btn, #Settings-btn {
    -fx-text-fill: black;
}
#version {
    -fx-text-fill: black;
}

#Settings-Gen-btn, #Settings-Mine-btn {
    -fx-text-fill: black;
}

.tab {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-background-radius: 0em;
}

.tab:hover{
    -fx-background-color: #858585;

}

.selected {
    -fx-background-color: #e2e2e2;
    -fx-background-radius: 0em;
}

.selected:hover {
    -fx-background-color: #e2e2e2;
}