#pane {
    -fx-background-color: #050f19;
}
#rectangle {
    -fx-fill: #031128;
}
#Modpack-back {
    -fx-fill: #042344;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
}
#min:hover, #exit:hover{
    -fx-background-color: #bf0000;
}
#Home-btn, #Modpacks-btn, #Settings-btn {
    -fx-background-color: rgba(0, 0, 0, 0);
}
#Home-btn:hover, #Modpacks-btn:hover, #Settings-btn:hover {
    -fx-background-color: #0c182d;
    -fx-background-radius: 0em;
}
#search-modpacks {
    -fx-text-inner-color: white;
    -fx-background-color: rgba(0, 0, 0, 0.5);
    -fx-padding: 10px;
}