#pane {
    -fx-background-color: #050f19;
}
#rectangle {
    -fx-fill: #031128;
}
#exit, #min{
    -fx-background-color: rgba(30, 25, 25, 0);
}
#min:hover, #exit:hover{
    -fx-border-radius: 30px;
    -fx-background-color: #bf0000;
}
#Home-btn, #Modpacks-btn {
    -fx-background-color: rgba(0, 0, 0, 0);
}
#Home-btn:hover, #Modpacks-btn:hover {
    -fx-background-color: #0c182d;
    -fx-background-radius: 0em;
}